body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
.container-1 .border-1 {
    width: 150px;
    height: 140px;
    background-color: #F14F21;
    display: inline-block;
    gap: 30px;
}
.container-1 .border-2 {
    width: 150px;
    height: 140px;
    background-color: #7EB900;
    display: inline-block;
    gap: 30px;
}
.container-2 .border-3 {
    width: 150px;
    height: 140px;
    background-color: #00A3EE;
    display: inline-block;
    gap: 30px;
}
.container-2 .border-4 {
    width: 150px;
    height: 140px;
    background-color: #FEB800;
    display: inline-block;
    gap: 30px;
}
.main {
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: auto;
    display: flex;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #727272;
    font-size: 75px;
}

h4 a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #727272;
    text-decoration: none;    
}

h4 a:hover {
    color: #000000;
    transform: 0.1s;
}